{% comment %} 产品角标 {% endcomment %}

{%- assign product_tags = product.tags | join: ',' -%}
{%- assign black_show = false -%}
{%- assign new_show = false -%}

{%- if product.tags contains 'NEW' -%}
    {%- assign new_show = true -%}
{%- endif -%}

{% if product_tags contains '__label_discount:' %}
    {% for tag in product.tags %}
        {% if tag contains '__label_discount:' %}
            {%- assign black_show = true -%}
            {%- assign new_show = false -%}

            {%- assign black_info = tag | replace: '__label_discount:', '' | split: 'OFF' -%}
        {% endif %}
    {% endfor %}
{% endif %}
{% comment %} 黑五 {% endcomment %}
{%- if black_show -%}
    <div class="product-label-tag black-friday-tag">
        <img 
            src="https://cdn.shopify.com/s/files/1/0970/9262/files/10_9_2x_f88e8388-326a-4c06-ad11-dca28c51f737.png?v=1669261093" 
            alt="blackFriday"
        >
        <div class="black-friday-tag-content">
            <div class="black-friday-tagInfo">
                <div class="black-friday-coupon">{{black_info[0]}}</div>
                <div class="black-friday-flexright">
                    <div class="black-friday-coupo-type">
                        {{black_info[1]}}
                    </div>
                    <div class="black-friday-coupo-type">
                        OFF
                    </div>
                </div>
            </div>
            <div class="black-friday-time">{{settings.black_friday_tag_time}}</div>
        </div>
    </div>
{%- endif -%}

{% comment %} 新品 {% endcomment %}

{%- if new_show -%}
    <div class="product-label-tag new-product-tag">
        <img 
            src="https://cdn.shopify.com/s/files/1/0970/9262/files/label_new.svg?v=1663927888" 
            alt="new Product"
        >
    </div>
{%- endif -%}


<style>
    .product-label-tag {
        position: absolute;
        top: 0;
        left: 0;
        height: 46px;
        z-index: 9;
        pointer-events: none;
    }
    .product-label-tag img {
        height: 100%;
    }
    .black-friday-tag-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 9.5px;
        display: flex;
        justify-content: center;
		align-items: center;
        flex-direction: column;
    }
    .black-friday-tagInfo {
        display: flex;
    }
    .black-friday-tagInfo .black-friday-coupon {
        font-weight: 800;
        color: #fff;
        height: 22px;
        font-size: 22px;
        line-height: 22px;
    }
    .black-friday-flexright {
        display:flex;
		flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .black-friday-flexright .black-friday-coupo-type {
        font-size: 10px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 10px;
        transform: scale(0.75);
    }
    .black-friday-time {
        color: #fff;
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
        text-align: center;
        transform: scale(0.75);
    }
    .new-product-tag img {
        width: 64px; 
        height: 37px;
    }

    .photo-zoom-link .product-label-tag {
        transform: scale(1.2);
		transform-origin: left top;
    }

    @media screen and (max-width: 750px) {
        .product-label-tag {
            height: 46px;
            transform: scale(0.5);
		    transform-origin: left top;
        }

        .photo-zoom-link .product-label-tag {
            transform: scale(1);
            transform-origin: left top;
        }


        .best-sellers .product-label-tag {
            transform: scale(0.8);
        }

        .product-label-tag img {
            height: 100%!important;
            width: initial!important;
        }
        .black-friday-flexright .black-friday-coupo-type {
            font-size: 10px;
            line-height: 10px;
            transform: scale(0.75);
        }
        .black-friday-time {
            font-size: 10px;
            line-height: 10px;
            transform: scale(0.75);
        }
        .new-product-tag img {
            width: 64px!important; 
            height: 37px!important;
        }
    }
</style>