<div class="events-list">
        <div class="h2 section-container text-center events-list-title page-section-title">
            View recent Jackery exihibition events
        </div>

        <div class="events-list-container section-container">
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_01.png?v=1672898953"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Official Release at IFA 2022: Jackery Introduces Its Fastest Ultra-Charging ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_02.png?v=1672898952"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        CES, The Most Influential Tech Event in the World
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_03.png?v=1672898953"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Jackery to Showcase New Models at CES 2023
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_04.png?v=1672898953"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_05.png?v=1672898952"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Official Release at IFA 2022: Jackery Introduces Its Fastest Ultra-Charging ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_06.png?v=1672898952"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_04.png?v=1672898953"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_05.png?v=1672898952"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Official Release at IFA 2022: Jackery Introduces Its Fastest Ultra-Charging ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="events-list-item">
                <img src="https://cdn.shopify.com/s/files/1/0970/9262/files/exihibition_events_pc_06.png?v=1672898952"
                    alt="" class="object-cover">
                <div class="events-item-info">
                    <div class="text-base text-overflow-2">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod ...
                    </div>
                    <div class="flex justify-between items-center events-item-action">
                        <div class="date">October 17, 2021</div>
                        <a class="slide-link a-button-fill" href="https://us.roborock.com/">
                            VIEW MORE
                            <span class="iconfont jackery-icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center events-list-more">
            <a href="#" class="a-button-solid">
                EXPLORE MORE
                <span class="iconfont jackery-icon-arrow-right"></span>
            </a>
        </div>
</div>