<div class="layer layer-container manuals maintenance">
  <h2>Product Maintenance</h2>
  <ul class="tab">
    <li class="h4 on">Portable Power Station</li>
    <li class="h4">Solar Panel</li>
  </ul>
  
  <ul class="list">
    <li>
      <img src="res3/user-guide-banner.jpg" alt="1" />
      <b class="h5">The use environment of Power station</b>
      <a class="h5" href="#">LEARN MORE<i class="iconfont jackery-icon-arrow-right"></i></a>
    </li>
    <li>
      <img src="res3/user-guide-banner.jpg" alt="1" />
      <b class="h5">The use environment of Power station</b>
      <a class="h5" href="#">LEARN MORE<i class="iconfont jackery-icon-arrow-right"></i></a>
    </li>
    <li>
      <img src="res3/user-guide-banner.jpg" alt="1" />
      <b class="h5">The use environment of Power station</b>
      <a class="h5" href="#">LEARN MORE<i class="iconfont jackery-icon-arrow-right"></i></a>
    </li>
  </ul>
</div>