<style>
    .section-page-news .image-text-swiper {
        background: #ffffff;
    }
    .section-page-news .events-list {
        padding-bottom: 120px;
    }
    .section-page-news .image-text-swiper {
        padding-bottom: 70px;
    }
    .section-page-news .image-text-swiper .slideshow-pagination {
        bottom: 50px;
    }
    .kol-join-block {
        background: #FFFFFF;
        box-shadow: 0px 6px 20px 0px rgba(85,85,85,0.2);
        margin-bottom: 120px;
        padding: 34px 40px;
    }
    .kol-join-title {
        margin-right: 114px;
    }
    .kol-join-block .a-button-fill {
        padding: 11px 0;
        border-radius: 40px;
        width: 300px;
    }
</style>

<div class="page-news-main">
    {% include 'pages-banner', blocks: section.blocks, autoplay_speed: section.settings.autoplay_speed, autoplay: section.settings.autoplay %}
    {% include 'card-swiper', title: section.settings.announced_title, blocks: section.blocks %}
    {% include 'grid-list', title: section.settings.exihibition_title, blocks: section.blocks, show_all: section.settings.show_all %}
    {% include 'image-text-swiper', title: section.settings.recent_title, blocks: section.blocks %}
    <div class="kol-join-block section-container flex justify-between items-center">
        <div class="kol-join-title text-xl font-bold">
            {{section.settings.kol_join_title | escape}}
        </div>

        <a class="slide-link a-button-fill text-lg" href="{{section.settings.kol_url}}">
            {{section.settings.kol_btn | escape}}
            <span class="iconfont jackery-icon-arrow-right text-lg"></span>
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Page News main",
    "class": "section-page-news",
    "settings": [
        {"type": "checkbox", "id": "autoplay", "label": "Auto-change slides", "default": true},
        {"type": "range", "id": "autoplay_speed", "label": "Change images every", "default": 7, "min": 5, "max": 10, "step": 1, "unit": "s"},
        {"type": "textarea", "id": "recent_title", "label": "Section recent events title", "default": "VIEW RECENT JACKERY\nBRAND EVENTS"},
        {"type": "textarea", "id": "announced_title", "label": "Section announced title", "default": "Here’s what we announced"},
        {"type": "textarea", "id": "exihibition_title", "label": "Section exihibition title", "default": "View recent Jackery\nexihibition events"},
        {"type": "text", "id": "show_all", "label": "Show all text", "default": "EXPLORE MORE"},
        {"type": "textarea", "id": "kol_join_title", "label": "KOL JOIN TITLE", "default": "Interested to be our KOL?\nLet join our Affiliate Program now!"},
        {"type": "text", "id": "kol_btn", "label": "KOL Join buton text", "default": "JOIN NOW"},
        {"type": "url", "id": "kol_url", "label": "KOL Join link"}

    ],
    "blocks": [
        {
            "type": "page_banner", "name": "Page Banner",
            "settings": [
                {"type": "textarea", "id": "title", "label": "Heading", "default": "Explore Further\nwith Jackery Solar"},
                {"type": "url", "id": "link", "label": "Slide link"},
                {"type": "text", "id": "link_text", "label": "Slide link text", "default": "VIEW MORE"},
                {"type": "image_picker", "id": "image", "label": "Image"},
                {"type": "image_picker", "id": "m_image", "label": "Mobile Image"},
                {"type": "image_picker", "id": "banner_icon", "label": "Banner Icon Image"}
            ]
        },
        {
            "type": "recent_events", "name": "Rectent Events",
            "settings": [
                {"type": "textarea", "id": "title", "label": "Heading"},
                {"type": "text", "id": "sub_text", "label": "Event Abstract"},
                {"type": "url", "id": "link", "label": "Event link"},
                {"type": "url", "id": "video_link", "label": "Video link"},
                {"type": "text", "id": "link_text", "label": "Event link text", "default": "VIEW MORE"},
                {"type": "image_picker", "id": "image", "label": "Image"},
                {"type": "image_picker", "id": "m_image", "label": "Mobile Image"}
            ]
        },
        {
            "type": "announced_block", "name": "Announced block",
            "settings": [
                {"type": "textarea", "id": "title", "label": "Heading"},
                {"type": "textarea", "id": "sub_text", "label": "Announced Abstract"},
                {"type": "url", "id": "link", "label": "Announced link"},
                {"type": "text", "id": "link_text", "label": "Announced link text", "default": "VIEW MORE"},
                {"type": "image_picker", "id": "image", "label": "Image"}
            ]
        },
        {
            "type": "grid_item", "name": "Exihibition block",
            "settings": [
                {"type": "textarea", "id": "title", "label": "Heading"},
                {"type": "text", "id": "date", "label": "Exihibition Date"},
                {"type": "url", "id": "link", "label": "Exihibition link"},
                {"type": "text", "id": "link_text", "label": "Exihibition link text", "default": "VIEW MORE"},
                {"type": "image_picker", "id": "image", "label": "Image"}
            ]
        }
    ]
}
{% endschema %}