<div class="layer layer-container manuals video">
  <h2>User Guide Video</h2>
  <ul class="tab">
    <li class="h4 on">Solar Generator</li>
    <li class="h4">Portable Power Station</li>
    <li class="h4">Solar Panel</li>
    <li class="h4">Accessories</li>
  </ul>
  <div class="search-box">
    <input type="text" placeholder="Search Video" />
    <button type="button">Search</button>
  </div>
  
  {% comment %} include slideshow video-slideshow {% endcomment %}
</div>