<div id="userGuideBanner">
        <div class="title">User Guide</div>
        <div class="subTest">Get detailed operating instructions and product care information for all Jackery products</div>
        <img class="bg" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_3febf765-20c4-4b86-9276-fa0bdf01adcb.png?v=1670568512"/>
</div>
<style>
    #userGuideBanner {
        width:100vw;
        position: relative;
    }
    #userGuideBanner .title{
        font-size: 3.3vw;
        font-family: Gilroy-Bold, Gilroy;
        font-weight: bold;
        color: #000000;
        position:absolute;
        top:5vw;
        left:19vw;
    }
    #userGuideBanner .subTest{
        font-size: 1.3vw;
        font-family: Gilroy-Light, Gilroy;
        font-weight: 300;
        color: #000000;
        position:absolute;
        top:10vw;
        left:19vw;
        width:31vw;
    }
    #userGuideBanner .bg{
        width:100vw;
    }
</style>