<div id="userGuideUserManuals">
    <div class="title">User Manuals</div>
    <div class="tabList">
        <div class="tabPoint">Portable Power Station <div class="line"></div></div>
        <div class="tabPoint">Solar Panel <div class="line"></div></div>
        <div class="tabPoint">Accessories <div class="line"></div></div>
    </div>
    <div class="searchFrame">
        <input type="text" class="searchInput"/>
        <div class="searchButton">Search</div>
    </div>
    <div class="pointList">
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
        <div class="point">
            <img class="icon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x_13af8b65-257f-4933-9a26-4d022e872f87.png?v=1670577635"/>
            <div class="name">Jackery Explorer 160 Power Station User Manual</div>
            <div class="down">
                <img src="" class="downIcon"/>
                <div class="downText">Download</div>
            </div>
        </div>
    </div>
    <div class="viewMore">
        <div class="viewMoreText">ViewMore</div>
        <img class="viewMoreIcon" src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_8f160aac-ecfc-47ea-852b-6b8008283716.png?v=1670579950"/>
    </div>
</div>