<div class="page-banner relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide relative">
                <img class="pc-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/3_fd070799-53b5-48e8-af66-8d8c746f004f.png?v=1672903208" alt="">

                <img class="mobile-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/2bfda3079c41ec83492919e87bb7d519.png?v=1672904431" alt="">
                <div class="swiper-banner-foot"></div>

                <div class="page-banner-container index-container absolute">
                    <img class="absolute left-0 brand-left-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_d4621f27-b474-43ea-902e-f00f790cf09b.png?v=1670915016"
                        alt="">
                    <img class="absolute right-0 bottom-0 brand-right-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_55109115-cdac-4786-9031-e7168f04d355.png?v=1670915016"
                        alt="">
                    <img class="banner-icon absolute left-0 bottom-0"
                        src="https://cdn.shopify.com/s/files/1/0970/9262/files/1_cad1e23d-b4ba-4348-b729-0e483f86f8b7.png?v=1672812891"
                        alt="">
                    <div class="page-banner-content absolute right-0 top-0 flex flex-col">
                        <div class="h1">
                            Explore Further with Jackery Solar
                        </div>
                        <a class="slide-link h5 a-button-fill" href="https://us.roborock.com/">VIEW MORE <span
                                class="iconfont jackery-icon-arrow-right"></span></a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="pc-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/4_7c03330a-6b48-486f-a496-582058d130da.png?v=1672904234" alt="">
                <img class="mobile-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/2bfda3079c41ec83492919e87bb7d519.png?v=1672904431" alt="">
                <div class="swiper-banner-foot"></div>

                <div class="page-banner-container index-container absolute">
                    <img class="absolute left-0 brand-left-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_d4621f27-b474-43ea-902e-f00f790cf09b.png?v=1670915016"
                        alt="">
                    <img class="absolute right-0 bottom-0 brand-right-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_55109115-cdac-4786-9031-e7168f04d355.png?v=1670915016"
                        alt="">
                    <img class="banner-icon absolute left-0 bottom-0"
                        src="https://cdn.shopify.com/s/files/1/0970/9262/files/1_cad1e23d-b4ba-4348-b729-0e483f86f8b7.png?v=1672812891"
                        alt="">
                    <div class="page-banner-content absolute right-0 top-0 flex flex-col">
                        <div class="h1">
                            Explore Further with Jackery Solar
                        </div>
                        <a class="slide-link h5 a-button-fill" href="https://us.roborock.com/">VIEW MORE <span
                                class="iconfont jackery-icon-arrow-right"></span></a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img class="pc-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/5_9b33d8ce-e158-4d95-9b58-208e81cfb555.png?v=1672904783" alt="">
                <img class="mobile-block slide-banner" src="https://cdn.shopify.com/s/files/1/0970/9262/files/2bfda3079c41ec83492919e87bb7d519.png?v=1672904431" alt="">
                <div class="swiper-banner-foot"></div>

                <div class="page-banner-container index-container absolute">
                    <img class="absolute left-0 brand-left-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_d4621f27-b474-43ea-902e-f00f790cf09b.png?v=1670915016"
                        alt="">
                    <img class="absolute right-0 bottom-0 brand-right-icon"
                        src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_55109115-cdac-4786-9031-e7168f04d355.png?v=1670915016"
                        alt="">
                    <img class="banner-icon absolute left-0 bottom-0"
                        src="https://cdn.shopify.com/s/files/1/0970/9262/files/1_cad1e23d-b4ba-4348-b729-0e483f86f8b7.png?v=1672812891"
                        alt="">
                    <div class="page-banner-content absolute right-0 top-0 flex flex-col">
                        <div class="h1">
                            Explore Further with Jackery Solar
                        </div>
                        <a class="slide-link h5 a-button-fill" href="https://us.roborock.com/">VIEW MORE <span
                                class="iconfont jackery-icon-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slideshow-pagination"></div>
</div>


<script>
    class PageBanner {
        constructor(el) {
            this.DOM = {
                el: el
            };
            this.init();
        }
        init() {
            var self = this;
            this.swiper = new Swiper(".page-banner", {
                loop: true,
                followFinger: false,
                effect: "fade",
                autoplay: {
                        delay: 7000,
                        disableOnInteraction: false,
                },
                pagination: {
                        el: '.page-banner .slideshow-pagination',
                        clickable: true,
                        bulletClass: 'slideshow-pagination-item',
                        bulletActiveClass: 'active pagination-active',
                        clickableClass: 'slideshow-pagination-clickable',
                        modifierClass: 'slideshow-pagination-',
                        renderBullet: function (index, className) {
                            var slideIndex = index,
                                number = (index <= 8) ? '0' + (slideIndex + 1) : (slideIndex + 1);
            
                            var paginationItem = '<span class="slideshow-pagination-item">';
                            paginationItem = (index <= 8) ? paginationItem +
                                '<span class="pagination-separator"><span class="pagination-separator-loader"></span></span>' :
                                paginationItem;
                            paginationItem += '</span>';
                            return paginationItem;
                        },
                },
                on: {
                        init: function (swiper) {
                            let slide = this.slides.eq(0);
                            slide.addClass('ani-slide-top');
                        },
                        transitionStart: function () {
                            for (let i = 0; i < this.slides.length; i++) {
                                let slide = this.slides.eq(i);
                                slide.removeClass('ani-slide-top');
                            }
                        },
                        transitionEnd: function () {
                            let slide = this.slides.eq(this.activeIndex);
                            slide.addClass('ani-slide-top');
                        },
                }
            }); 
            this.initEvents()
        }
        initEvents() {
            this.swiper.on('paginationUpdate', (swiper, paginationEl) => setTimeout(() => {
                this.pageAnimatePagination(swiper, paginationEl)
            }, 20));

            this.pageAnimatePagination()
        }
        pageAnimatePagination(swiper, paginationEl) { // 分页动画
            const DOC = paginationEl || this.DOM.el.querySelector('.slideshow-pagination')
            let paginationItemsLoader = DOC.querySelectorAll('.pagination-separator-loader');
            let activePaginationItem = DOC.querySelector('.pagination-active');
            let activePaginationItemLoader = activePaginationItem?.querySelector('.pagination-separator-loader');
            gsap.set(paginationItemsLoader, {
                scaleX: 0
            });
            gsap.to(activePaginationItemLoader, 7, {
                startAt: {
                    scaleX: 0
                },
                scaleX: 1
            });
        }
    }

    new PageBanner(document.querySelector('.page-banner'));
</script>