.page-banner {
  width: 100%;
  border-bottom: solid 1px #A3A3A3;
  overflow-x: hidden;
}
.page-banner .slide-banner {
  height: 37.5vw;
  width: 100%;
  object-fit: cover;
}
.page-banner .swiper-banner-foot {
  height: 8.85vw;
  background: #fff;
}
.page-banner .page-banner-container {
  height: 32vw;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.page-banner .brand-left-icon {
  width: 3.645vw;
}
.page-banner .brand-right-icon {
  width: 4.5vw;
}
.page-banner .banner-icon {
  height: 5.55vw;
}
.page-banner .page-banner-content {
  max-width: 35vw;
  text-align: right;
  align-items: flex-end;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.page-banner .slideshow-pagination {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 10;
}
.ani-slide-top .page-banner-content {
  transform: translateY(0);
  opacity: 1;
}
.page-banner-content .h1 {
  color: #fff;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .page-banner .slide-banner {
    height: 118vw;
    width: 100%;
    object-fit: cover;
  }
  .page-banner .swiper-banner-foot {
    height: 27vw;
  }
  .page-banner .page-banner-container {
    height: 54vw;
    bottom: 7.7vw;
  }
  .page-banner .brand-left-icon {
    width: 7.6vw;
  }
  .page-banner .brand-right-icon {
    width: 10.5vw;
  }
  .page-banner .banner-icon {
    height: 12vw;
  }
  .page-banner .page-banner-content {
    max-width: 80vw;
    transform: translateY(20px);
  }
  .page-banner .ani-slide-top .page-banner-content {
    transform: translateY(0);
  }
  .page-banner .page-banner-content .h1 {
    margin-bottom: 3vw;
  }
  .page-banner .slideshow-pagination {
    bottom: 10px;
  }
}
.image-text-swiper {
  background: #F5F5F5;
  padding: 120px 0 150px 0;
}
.image-text-container {
  width: 100%;
  height: 740px;
  overflow-x: hidden;
}
.image-text-container .swiper-slide {
  background: #fff;
  width: 1200px;
  transition: all 0.3s;
  height: 700px;
  max-width: 100%;
  padding: 0 25px;
}
.image-text-container .swiper-slide > img {
  max-height: 520px;
}
.image-text-container .swiper-slide .image-text-swiper-content::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: transparent;
}
.image-text-container .swiper-slide-active .image-text-swiper-content::before {
  background: var(--primary-color);
}
.image-text-container .swiper-slide-active {
  padding: 0;
}
.image-text-swiper-content {
  padding: 28px 50px;
  flex: 1;
}
.image-text-swiper-name {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}
.image-text-swiper-des {
  max-width: 800px;
}
.image-text-swiper .slideshow-pagination {
  bottom: 140px;
}
.image-text-swiper .image-text-imgblock {
  overflow: hidden;
}
.image-text-swiper .ani-fade-img .image-text-imgblock img {
  animation: zoom-fade 2s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
}
@keyframes zoom-fade {
  from {
    /* opacity: 0.6; */
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
  }
  to {
    /* opacity: 1; */
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 768px) {
  .image-text-swiper {
    padding: 14vw 0 8.6vw 0;
  }
  .image-text-container {
    height: auto;
    width: 85vw;
    margin: 0 auto;
  }
  .image-text-container .swiper-slide {
    width: 100%;
    overflow: hidden;
    height: 121vw;
    padding: 0;
  }
  .image-text-container .swiper-slide > img {
    max-height: 76vw;
  }
  .image-text-container .swiper-slide .image-text-swiper-content::before {
    height: 4px;
  }
  .image-text-container .swiper-slide-active {
    margin: 0;
  }
  .image-text-swiper-content {
    padding: 10.6vw 0;
    text-align: center;
  }
  .image-text-swiper-name {
    margin-bottom: 10vw;
  }
  .image-text-swiper-des {
    display: none;
  }
  .image-text-swiper-content .justify-between {
    justify-content: center;
  }
  .image-text-swiper .image-text-imgblock img {
    width: 100%;
    height: 76vw;
    object-fit: cover;
    overflow: hidden;
  }
}
.card-swiper {
  background: #fff;
  padding: 105px 0 170px 0;
}
.card-swiper .card-swiper-container {
  overflow-x: hidden;
  width: 100%;
  height: 700px;
  max-width: 1800px;
  margin: 0 auto;
}
.card-swiper .card-swiper-container .swiper-slide {
  background: #fff;
  transform: scale(0.9) !important;
  display: flex;
  transition: all 0.3s;
  transform-origin: left center;
  width: 610px;
  border-radius: 90px 0px 0px 0px;
  overflow: hidden;
  opacity: 0.5;
  pointer-events: none;
  box-shadow: 0px 2px 20px 12px rgba(98, 98, 98, 0.06);
}
.card-swiper .image-text-imgblock img {
  width: 100%;
  height: 410px;
}
.card-swiper .card-swiper-container .swiper-slide-prev {
  transform-origin: right center;
}
.card-swiper .card-swiper-container .swiper-slide-active {
  transform: scale(1) !important;
  border-bottom: solid 8px var(--primary-color);
  margin: 0 22px;
  opacity: 1;
  pointer-events: all;
}
.card-swiper-slide-content {
  padding: 25px 50px 0 50px;
}
.card-swiper-slide-des {
  margin: 15px 0 20px 0;
}
.card-swiper-slide-content .jackery-icon-arrow-right {
  font-size: 20px;
}
.card-swiper .slideshow-pagination {
  bottom: 120px;
}
@media screen and (max-width: 768px) {
  .card-swiper {
    padding: 15vw 0 22.4vw 0;
  }
  .card-swiper .card-swiper-container {
    height: 121vw;
    max-width: 85vw;
  }
  .card-swiper .card-swiper-container .swiper-slide {
    transform: scale(1) !important;
    width: 85.5vw;
    border-radius: 12vw 0px 0px 0px;
  }
  .card-swiper .card-swiper-container .swiper-slide-active {
    border-bottom: solid 4px var(--primary-color);
    margin: 0;
  }
  .card-swiper-slide-content {
    padding: 10.6vw 0 10.6vw 0;
  }
  .card-swiper-slide-des {
    display: none;
  }
  .card-swiper .image-text-imgblock img {
    width: 100%;
    height: 76vw;
  }
  .card-swiper .slideshow-pagination {
    bottom: 14vw;
  }
  .card-swiper-slide-title {
    margin-bottom: 4.8vw;
  }
}
.events-list {
  background: #F5F5F5;
  padding: 120px 0 160px 0;
}
.events-list-container {
  display: grid;
  flex-wrap: wrap;
  grid-gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.events-list-item {
  background: #fff;
}
.events-list-item img {
  height: 277px;
}
.events-item-info {
  padding: 20px;
}
.events-item-action {
  margin-top: 12px;
}
.events-item-action .date {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}
.events-item-action .a-button-fill {
  font-size: 14px;
  line-height: 17px;
  padding: 12px 27px;
}
.events-list-more {
  margin-top: 70px;
}
.events-list-more .a-button-solid {
  font-size: 22px;
  line-height: 27px;
  padding: 20px 60px;
  border-radius: 35px;
}
.events-list-more .jackery-icon-arrow-right {
  transform: rotate(90deg);
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .events-list {
    padding: 8.4vw 0 27.6vw 0;
  }
  .events-list-container {
    grid-gap: 2vw;
    grid-template-columns: repeat(1, 1fr);
    max-width: 85vw;
  }
  .events-list-item img {
    height: 60vw;
    width: 100%;
  }
  .events-item-info {
    padding: 5.3vw;
  }
  .events-item-action {
    margin-top: 4.8vw;
  }
  .events-item-action .date {
    font-size: 3.5vw;
  }
  .events-item-action .a-button-fill {
    font-size: 3.5vw;
    line-height: 3.5vw;
    padding: 2.4vw 10vw;
  }
  .events-list-more {
    margin-top: 8.6vw;
  }
  .events-list-more .a-button-solid {
    font-size: 3.5vw;
    line-height: 3.5vw;
    padding: 2.4vw 7.5vw;
    font-weight: bold;
    border-radius: 4.8vw;
  }
}

