/* font-family */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-bold.woff2?v=1670917251') format('woff2'), url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-bold.woff?v=1670917251') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-semibold.woff2?v=1670917251') format('woff2'), url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-semibold.woff?v=1670917251') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-medium.woff2?v=1670917251') format('woff2'), url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-medium.woff?v=1670917251') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-light.woff2?v=1670917251') format('woff2'), url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-light.woff?v=1670917251') format('woff');
}
:root {
  --primary-color: #fd5000;
  /* 系统主题色 */
  --text-black: #000;
  --text-main-color: #333;
  /* 标题、主要文本颜色 */
  --text-sub-color: #666;
  /* 常规、次要按钮颜色 */
  --text-info-color: #999;
  /* 副文案、辅助说明信息 */
  --text-disable-color: #ccc;
  /* 弱文案、失效、不可点 */
  --input-border-color: #ddd;
  /* 输入框、选择边框 */
  --gap: 20px;
  /* 通用边距和距离 */
  --radius: 12px;
  /* 通用圆角 */
  --border-primary: 2px solid #fd5000;
  /* 主题边框线和颜色 */
  --border-grey: 1px solid #ccc;
  /* 次要边框线和颜色 */
  --normal-color: #fff;
  --border-color-link: 1px solid #ddd;
}
* {
  box-sizing: border-box;
  font-family: 'Gilroy';
  margin: 0;
  outline: none;
  padding: 0;
}
html {
  font-size: 16px;
}
section {
  max-width: 100vw;
  overflow: hidden;
}
a {
  text-decoration: none;
}
div,
a,
p,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
table,
button,
ul,
li {
  -webkit-tap-highlight-color: transparent;
}
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  border: none;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
a,
button {
  cursor: pointer;
}
h1,
.h1,
.h1 .iconfont {
  font-size: 3.64583vw;
  font-weight: 700;
  line-height: 3.64583vw;
}
h2,
.h2,
.h2 .iconfont {
  font-size: 2.34375vw;
  font-weight: 700;
  line-height: 3.4375vw;
}
h3,
.h3,
.h3 .iconfont {
  font-size: 1.875vw;
  font-weight: 300;
  line-height: 2.8125vw;
}
h4,
.h4,
.h4 .iconfont {
  font-size: 1.35417vw;
  font-weight: 300;
  line-height: 2.03125vw;
}
h5,
.h5,
.h5 .iconfont {
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.875vw;
}
h6,
.h6,
.h6 .iconfont {
  font-size: 0.72917vw;
  font-weight: 300;
  line-height: 1.09375vw;
}
p,
.p,
.p .iconfont {
  font-size: 0.83333vw;
  font-weight: 300;
  line-height: 1.40625vw;
}
.p-text,
.p-text .iconfont {
  font-size: 0.83333vw;
  font-weight: 300;
  line-height: 1.40625vw;
}
.iconfont {
  vertical-align: middle;
}
/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b6b7b9;
}
/* scrollbar */
.pc-block {
  display: block !important;
  opacity: 1 !important;
}
.mobile-block {
  display: none !important;
  opacity: 0 !important;
}
/* button */
.underlines-btn {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  width: max-content;
}
.underlines-btn::after {
  border-bottom: 2px solid var(--primary-color);
  bottom: -2px;
  content: '';
  left: 0;
  position: absolute;
  transform: scale(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease;
  width: 100%;
}
.underlines-btn:hover::after {
  transform: scale(1);
}
.a-button-solid {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 1.71875vw;
  width: max-content;
  color: #fff;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.25vw;
  padding: 0.625vw 1.66667vw;
  transition: all 0.3s ease;
}
.a-button-solid:hover {
  background: var(--primary-color);
  color: #fff;
}
.a-button-fill {
  align-items: center;
  background: transparent;
  border: solid 0.105vw var(--primary-color);
  border-radius: 1.71875vw;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.25vw;
  padding: 0.625vw 1.5vw;
  text-decoration: none;
  transition: all 0.3s ease;
  justify-content: center;
}
.a-button-fill:hover {
  background: var(--primary-color);
  color: #fff;
}
.a-button-fill .iconfont {
  font-weight: bold;
  line-height: 1;
}
/* button */
/* -----rate----- */
.rate {
  float: left;
  height: 1.71875vw;
  line-height: 1.71875vw;
}
.rate > label {
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 1.71875vw;
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  width: 1.71875vw;
}
.rate > label::before {
  content: '\ea29';
  font-family: 'iconfont';
}
.rate > label.checked ~ label,
.rate > label.checked {
  color: #ffc700;
}
/* -----rate----- */
/* -----按钮箭头----- */
.ra-btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 3.125vw;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100px;
}
.ra-btn .iconfont {
  color: var(--text-info-color);
  font-size: 60px !important;
  transition: all 0.2s;
}
.ra-btn:hover .iconfont {
  color: var(--primary-color);
}
/* -----按钮箭头----- */
/* 版心 */
.index-container {
  margin: 0 auto;
  max-width: 90%;
  width: 1671px;
}
.section-container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
/* 版心 */
@media screen and (max-width: 768px) {
  :root {
    --gap: 10px;
  }
  section {
    overflow: visible;
  }
  ::-webkit-scrollbar {
    height: unset;
    width: unset;
  }
  ::-webkit-scrollbar-track {
    background-color: unset;
  }
  ::-webkit-scrollbar-thumb {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: unset;
  }
  h1,
  .h1,
  .h1 .iconfont {
    font-size: 8.2vw;
    letter-spacing: 0.5;
    line-height: 8.8vw;
  }
  h2,
  .h2,
  .h2 .iconfont {
    font-size: 7vw;
    line-height: 8.46667vw;
  }
  h3,
  .h3,
  .h3 .iconfont {
    font-size: 5.8vw;
    line-height: 7.8vw;
  }
  h4,
  .h4,
  .h4 .iconfont {
    font-size: 5.2vw;
    line-height: 7.4vw;
  }
  h5,
  .h5,
  .h5 .iconfont {
    font-size: 4.2vw;
    line-height: 5.8vw;
  }
  h6,
  .h6,
  .h6 .iconfont {
    font-size: 3.6vw;
    line-height: 5vw;
  }
  p,
  .p,
  .p .iconfont {
    font-size: 4.5vw;
    line-height: 6vw;
  }
  .pc-block {
    display: none !important;
    opacity: 0 !important;
  }
  .mobile-block {
    display: block !important;
    opacity: 1 !important;
  }
  .a-button-solid,
  .a-button-fill {
    border-radius: 6.5vw;
    border-width: 1px;
    font-size: 4.5vw;
    line-height: 4.5vw;
    padding: 2.2vw 10vw;
  }
  /* 版心 */
  .index-container {
    margin: 0 auto;
    max-width: 90%;
    width: 85vw;
  }
  .section-container {
    margin: 0 auto;
    max-width: 85vw;
    width: 100%;
  }
  /* 版心 */
  /* -----rate----- */
  .rate {
    height: 4.4vw;
    line-height: 4.4vw;
  }
  .rate > label {
    font-size: 4.4vw;
    width: 4.4vw;
  }
  /* -----rate----- */
}
/* font-size & line-height */
body .text-base {
  font-size: 18px;
  line-height: 27px;
}
body .text-xs {
  font-size: 14px;
  line-height: 21px;
}
body .text-sm {
  font-size: 24px;
  line-height: 36px;
}
body .text-lg {
  font-size: 26px;
  line-height: 39px;
}
body .text-xl {
  font-size: 36px;
  line-height: 54px;
}
body .text-2xl {
  font-size: 45px;
  line-height: 66px;
}
body .text-3xl {
  font-size: 70px;
  line-height: 70px;
}
/* font-size & line-height */
/* 图片显示样式 */
.object-cover {
  object-fit: cover;
}
.object-center {
  object-position: center;
}
/* 图片显示样式 */
/* 定位/flex/display */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.text-center {
  text-align: center;
}
.font-bold {
  font-weight: bold;
}
.text-overflow-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}
.text-overflow-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
}
/* 定位/flex/display */
/* components - modal */
.modal {
  background-color: #232526;
  display: none;
  max-width: 100%;
  visibility: hidden;
  z-index: 9999;
  transition: all 0.3 ease;
}
.modal.active {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal:focus {
  outline: none;
}
.modal-bg {
  background-color: #272727;
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: 0.9;
  right: 0;
  top: 0;
  z-index: 9998;
}
.close {
  color: gray;
  cursor: pointer;
  float: right;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
}
.close:hover {
  color: #5a5a5a;
  cursor: pointer;
}
.video-modal-close {
  position: absolute;
  right: 50px;
  top: 50px;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.video-modal-close::after {
  position: absolute;
  content: '\e659';
  font-family: 'iconfont';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-modal-video {
  max-height: 80vh;
}
/* components - modal */
/* videojs modal skin */
.video-swiper-modal .vjs-modal .vjs-big-play-button {
  display: none;
}
.video-swiper-modal .vjs-modal .vjs-control-bar {
  height: 5em;
}
.video-swiper-modal .vjs-modal .vjs-button > .vjs-icon-placeholder::before {
  font-size: 3em;
}
.video-swiper-modal .vjs-modal .vjs-progress-holder {
  height: 0.6em;
}
.video-swiper-modal .vjs-modal .vjs-play-progress::before {
  font-size: 1.2em;
  top: -0.2em;
}
.video-swiper-modal .vjs-modal .vjs-volume-bar {
  margin: 2.3em 0.45em;
}
.video-swiper-modal .vjs-modal .vjs-volume-bar.vjs-slider-horizontal {
  height: 0.4em;
}
.video-swiper-modal .vjs-modal .vjs-slider-horizontal .vjs-volume-level::before {
  top: -0.2em;
}
.video-swiper-modal .vjs-modal .vjs-time-control {
  font-size: 1.4em;
  line-height: 3.4em;
}
.video-swiper-modal .vjs-modal .vjs-playback-rate > .vjs-menu-button {
  top: 10px;
}
.video-swiper-modal .vjs-modal .vjs-progress-control:hover .vjs-play-progress::before {
  top: -0.25em;
}
.video-swiper-modal .vjs-modal .vjs-control-bar {
  bottom: -1px;
}
.video-swiper-modal .vjs-modal .vjs-slider-horizontal .vjs-volume-level::before {
  top: -0.3em;
}
/* videojs modal skin */
/* slideshow-pagination */
.slideshow-pagination {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
  margin: 0 8px;
  background: #ccc;
}
.slideshow-pagination-item:hover,
.slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item.active .pagination-separator-loader {
  background: var(--primary-color);
}
.slideshow-pagination-item.active .pagination-separator {
  width: 120px;
}
.pagination-separator {
  position: relative;
  width: 60px;
  height: 4px;
  background: #ccc;
  transition: all 0.3s ease;
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}
/* slideshow-pagination */
/* slideshow-navigation-button */
.slideshow-navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  z-index: 9;
  transition: all 0.3s ease;
  color: #FFF;
  opacity: 0;
}
.slideshow-navigation-button .iconfont {
  font-size: 48px;
  transition: all 0.25s;
}
.slideshow-navigation-button.prev .iconfont {
  transform: rotateY(180deg);
}
.slideshow-navigation-button.next {
  border-radius: 50%;
}
.slideshow-navigation-button .iconfont {
  color: var(--text-info-color);
}
.slideshow:hover .slideshow-navigation-button {
  opacity: 1;
}
.slideshow-navigation-button:hover .iconfont,
.slideshow-navigation-button:focus .iconfont {
  cursor: pointer;
  color: var(--primary-color);
}
.slideshow-navigation-button.prev {
  left: 6.7vw;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
}
.slideshow-navigation-button.next {
  right: 6.7vw;
  top: 50%;
  border-radius: 50%;
  transform: translate(0, -50%);
}
/* slideshow-navigation-button */
/* section - header */
.content-for-layout {
  padding-top: 114px;
}
.layout-hide-announcement {
  padding-top: 78px;
}
.announcement-bar {
  background: #ddd5c5;
  color: #666;
  display: none;
  height: 36px;
  overflow: hidden;
  transition: all 0.1s ease;
}
.announcement-bar-show .announcement-bar {
  display: flex;
  z-index: 9;
}
.announcement-bar .index-container .jackery-icon-guanbi {
  cursor: pointer;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.announcement-bar .iconfont {
  color: var(--primary-color);
  font-size: 26px;
  padding-left: 12px;
}
.site-header {
  background: transparent;
  position: fixed;
  transition: all 0.1s;
  z-index: 999;
}
.site-header.site-header-white .announcement-hide {
  height: 0;
}
.header-logo {
  height: 32px;
  font-size: 32px;
  color: var(--primary-color);
}
.site-header.site-header-white {
  background: #fff;
}
.site-header .header-main {
  height: 78px;
}
.site-header .header-main .index-container {
  height: 100%;
}
.header-navs {
  margin-right: 50px;
}
.header-navs .nav-item {
  color: var(--text-main-color);
  line-height: 80px;
  margin-left: 58px;
}
.header-navs .nav-item::after {
  bottom: 0;
}
.header-icons {
  justify-content: space-between;
  width: 136px;
}
.header-icons .iconfont {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-icons .iconfont:hover {
  color: var(--primary-color);
}
.header-local {
  cursor: pointer;
  margin-left: 50px;
  height: 100%;
}
.header-local .iconfont {
  transform: rotate(90deg);
}
/* section - header */
/* section title/page-section-swiper */
body .page-section-title {
  line-height: 50px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 45px;
}
body .page-section-swiper .a-button-fill {
  font-size: 20px;
  line-height: 24px;
  padding: 11px 35px;
}
.page-section-swiper .slideshow-navigation {
  left: 50%;
  transform: translateX(-50%);
  top: 260px;
  height: 60px;
  z-index: 9;
}
.page-section-swiper .slideshow-navigation-button.next {
  right: 0;
}
.page-section-swiper .slideshow-navigation-button.prev {
  left: 0;
}
.page-section-swiper:hover .slideshow-navigation-button {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  body .page-section-title {
    line-height: 8.8vw;
    margin-bottom: 8vw;
    font-size: 6vw;
  }
  body .page-section-swiper .a-button-fill {
    padding: 2.4vw 4.66667vw;
    font-size: 3.8vw;
    line-height: 3.8vw;
    padding: 2.4vw 10vw;
  }
  .slideshow-navigation {
    display: none;
  }
}
/* section title/a-button-fill */
@media screen and (max-width: 1280px) {
  /* section - header */
  .header-main .index-container {
    margin: 0 auto;
    max-width: 90%;
    width: 85vw;
  }
  .content-for-layout {
    padding-top: 20.6vw;
  }
  .announcement-bar .iconfont {
    color: var(--text-sub-color);
    font-size: 16px;
    padding-left: 2.1vw;
  }
  .header-main .index-container a {
    height: 100%;
  }
  .announcement-bar .jackery-icon-fuliliwu- {
    color: var(--primary-color);
  }
  .site-header .header-menu .header-navs {
    display: none;
  }
  .site-header .header-menu {
    transition: left 0.3s;
    left: -100vw !important;
  }
  input.mobile-toggle:checked ~ .header-menu {
    left: 7.5vw !important;
    display: flex!important;
    height: 100%;
  }
  .site-header .index-container {
    justify-content: center;
  }
  .header-m-menu {
    top: 50%;
    transform: translateY(-50%);
  }
  .site-header .header-menu {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
  .header-icons {
    width: auto;
  }
  .header-local {
    margin-left: 0;
  }
  .header-local .jackery-icon-arrow-right {
    display: none;
  }
  .header-local .header__menu-item span {
    font-size: 21px;
    padding: 0 4px;
  }
  .header-icons .iconfont {
    padding: 0 4px;
  }
  .header__search {
    display: none!important;
  }
  /* section - header */
}
@media screen and (max-width: 768px) {
  .announcement-bar {
    background: #eeeae2;
    height: 10vw;
  }
  .layout-hide-announcement {
    padding-top: 10.6vw;
  }
  .site-header .header-main {
    height: 10.6vw;
  }
  .header-logo {
    height: auto;
    font-size: 6.5vw !important;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 768px) {
  /* font-size & line-height */
  body .text-base {
    font-size: 3.46667vw;
    line-height: 5.2vw;
  }
  body .text-xs {
    font-size: 2.66667vw;
    line-height: 4vw;
  }
  body .text-sm {
    font-size: 3.2vw;
    line-height: 4.8vw;
  }
  body .text-lg {
    font-size: 4.26667vw;
    line-height: 6.4vw;
  }
  body .text-xl {
    font-size: 4.8vw;
    line-height: 7.2vw;
  }
  body .text-2xl {
    font-size: 6vw;
    line-height: 8.8vw;
  }
  body .text-3xl {
    font-size: 7.33333vw;
    line-height: 8vw;
  }
  /* font-size & line-height */
  /* slideshow-pagination */
  .pagination-separator {
    display: block;
    width: 5.33333vw;
    height: 2px;
  }
  .slideshow-pagination-item {
    margin: 0 0.66667vw;
  }
  .slideshow-pagination-item.active .pagination-separator {
    width: 12vw;
  }
  /* slideshow-pagination */
}
details-disclosure {
  height: 100%;
}
details-disclosure .focus-inset::marker {
  content: '';
}
details-disclosure summary {
  display: flex;
  align-items: center;
  height: 100%;
}
details-disclosure .list-menu--disclosure {
  position: absolute;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border-radius: 0px 0px 12px 12px;
}
details-disclosure .list-menu--disclosure li a {
  display: flex;
  height: 50px;
  padding: 0 25px;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
}
details-disclosure .list-menu--disclosure li a:hover {
  color: #FD5000;
}
details-disclosure summary .iconfont {
  transition: all 0.3s;
}
details-disclosure [open] summary .iconfont {
  transform: rotate(270deg);
}
details-disclosure > details {
  position: relative;
  height: 100%;
}
.header__search .header__icon::marker {
  content: '';
}
.overflow-hidden {
  overflow: hidden;
}
/* Search */
menu-drawer + .header__search {
  display: none;
}
.header-main > .header__search {
  grid-area: left-icon;
  justify-self: start;
}
.header__search {
  display: inline-flex;
  line-height: 0;
  align-items: center;
}
.header--top-center > .header__search {
  display: none;
}
.header--top-center * > .header__search {
  display: inline-flex;
}
@media screen and (min-width: 990px) {
  .header-main:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }
  .header-main:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
}
.no-js .predictive-search {
  display: none;
}
.predictive-search {
  display: none;
  position: absolute;
  top: calc(100% + 0.1rem);
  max-width: 40vw;
  width: 100%;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 3;
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
}
.predictive-search .hidden {
  display: none;
}
details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen 0.2s ease;
}
@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
details[open] .modal-overlay {
  display: block;
}
details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgba(18, 18, 18, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}
.no-js details[open] > .header__icon--search {
  top: 1rem;
  right: 0.5rem;
}
.search-modal {
  opacity: 0;
  border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
  height: 100%;
}
.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 5rem 0 1rem;
  line-height: calc(1 + 0.8 / 1);
}
.search-modal__form {
  width: 100%;
}
.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}
.modal__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field {
  border: 1px solid #999999;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.search__input {
  padding: 13px 56px;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  line-height: 24px;
  width: 100%;
}
.search__input::-webkit-search-cancel-button {
  display: none;
}
.search-modal__content .iconfont {
  background: #fff;
  color: #999999;
}
.mb-search .search-modal__content .iconfont {
  background: #f0f0f0;
}
predictive-search .search__button {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
predictive-search .search-modal__close-button {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.search-modal__content .jackery-icon-jackery {
  position: absolute;
  top: 50%;
  font-size: 32px;
  left: 0;
  transform: translateY(-50%);
  color: #FD5000;
}
@media screen and (min-width: 750px) {
  .search-modal__close-button {
    right: 1rem;
  }
  .search-modal__content {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 40vw;
  }
  .search-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
  }
}
.predictive-search--search-template {
  z-index: 2;
}
@media screen and (max-width: 749px) {
  .predictive-search--header {
    right: 0;
    left: 0;
    top: 100%;
  }
}
@media screen and (max-width: 989px) {
  .predictive-search {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
  }
  .header predictive-search {
    position: relative;
  }
}
predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}
.visually-hidden {
  display: none;
}
.predictive-search__heading {
  border-bottom: 1px solid rgba(18, 18, 18, 0.08);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  color: rgba(18, 18, 18, 0.7);
  font-size: 13px;
  line-height: 35px;
}
predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}
.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}
predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}
predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}
.predictive-search__list-item:nth-last-child(2) {
  border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}
.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  color: #121212;
  background-color: rgba(18, 18, 18, 0.04);
}
.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-underline-offset: 0.3rem;
}
.predictive-search__item {
  display: flex;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.predictive-search__item--link {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-areas: 'product-image product-content';
}
.predictive-search__item-content {
  grid-area: product-content;
  display: flex;
  flex-direction: column;
}
.predictive-search__item-content--centered {
  justify-content: center;
}
.predictive-search__item-vendor {
  font-size: 0.9rem;
}
.predictive-search__item-heading {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.predictive-search__item .price {
  color: rgba(18, 18, 18, 0.7);
  font-size: 1.2rem;
}
.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-top: 0.5rem;
}
.predictive-search__item--term {
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  line-height: 1;
  font-size: 14px;
}
@media screen and (min-width: 750px) {
  .predictive-search__item--term {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.predictive-search__item--term .icon-arrow {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-left: calc(1 * 2rem);
  color: #121212;
}
.predictive-search__image {
  grid-area: product-image;
  object-fit: contain;
  font-family: 'object-fit: contain';
}
.nav-item-menu,
.nav-shop-menu {
  position: fixed;
  overflow: hidden;
  transition: all 0.2s ease;
  background: #F5F5F5;
  left: 0;
  right: 0;
  top: 78px;
  cursor: auto;
  max-height: 0;
}
.nav-shop-menu {
  overflow-y: scroll;
}
.announcement-bar-show .nav-item-menu,
.announcement-bar-show .nav-shop-menu {
  top: 114px;
}
.header-navs .nav-item:hover .nav-item-menu,
.header-navs .nav-item:hover .nav-shop-menu {
  max-height: calc(100vh - 78px);
}
.announcement-bar-show .header-navs .nav-item:hover .nav-item-menu,
.announcement-bar-show .header-navs .nav-item:hover .nav-shop-menu {
  max-height: calc(100vh - 114px);
}
.nav-item-menu .index-container {
  padding: 70px 0;
  display: flex;
  justify-content: center;
}
.nav-item-menu .nav-menuItem-list {
  margin-right: 100px;
}
.nav-item-menu .nav-menuItem-list .nav-menuItem {
  line-height: 27px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 24px;
  display: block;
}
.nav-item-menu .nav-menuItem-list .nav-menuItem.active::after {
  transform: scale(1);
}
.nav-menuItem-bg {
  background: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/109f3404fb4ead1f3f5c080c7a70f404.png?v=1672216981);
  width: 600px;
  height: 340px;
  background-size: cover;
  transition: all 0.3s;
}
.nav-shop-menu .index-container {
  padding: 58px 0 47px 0;
}
.nav-shop-collection {
  flex: 1;
  border-right: solid 1px #DDDDDD;
}
.nav-shop-scence {
  height: 100%;
  padding-left: 3.8vw;
}
.nav-shop-scence .nav-shop-scence-item {
  width: 180px;
  height: 120px;
  background-size: cover;
  margin-bottom: 2.5vw;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-shop-scence .nav-shop-scence-item span {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
.nav-shop-collection {
  padding-right: 3.2vw;
  text-align: right;
}
.nav-shop-collection-taps {
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 47px;
  justify-content: center;
}
.collection-taps-item {
  margin-right: 10px;
  padding: 26px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.collection-taps-item span {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.collection-taps-item:last-child {
  margin-right: 0;
}
.collection-taps-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  background: var(--primary-color);
  display: none;
}
.collection-taps-item.active::after {
  display: block;
}
.collection-taps-item.active span {
  color: var(--primary-color);
}
.collection-taps-img {
  height: 4.6vw;
  margin-top: 6px;
}
.nav-shop-collection-products {
  display: grid;
  padding-top: 45px;
  flex-wrap: wrap;
  grid-gap: 14px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.collection-products-item-img {
  height: 130px;
}
.collection-products-item {
  padding: 2.3vw 0.9vw 1.67vw 0.9vw;
  background: #fff;
  text-decoration: none;
  position: relative;
}
.collection-products-item span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
}
.collection-products-item:hover span {
  color: var(--primary-color);
}
.nav-shop-collection-more {
  width: max-content !important;
  display: inline-block;
  font-size: 14px;
  padding: 13px 30px;
  line-height: 1;
}
.header-products-container {
  display: none;
}
.header-products-container.active {
  display: block;
}
/* mobile - menu toggle */
input.mobile-toggle {
  width: calc(24px + 3%);
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0;
  -webkit-touch-callout: none;
  position: absolute;
  top: 0;
  z-index: 3;
  right: 7.5vw;
}
.mobile-toggle-nav {
  width: 20px;
  height: 20px;
  line-height: 1px;
  right: 7.5vw;
}
.mobile-toggle-nav span {
  width: 20px;
  height: 1px;
  background: #666;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.mobile-toggle-nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -4.5px);
  background: #333;
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span:nth-last-child(3) {
  transform: rotate(-45deg) translate(-4px, 4.5px);
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -4.5px);
  background: #333;
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span:nth-last-child(3) {
  transform: rotate(-45deg) translate(-4px, 4.5px);
}
input.mobile-toggle:checked ~ ul {
  transform: none;
}
input.mobile-toggle:checked ~ .mobile-nav-search {
  left: 0;
}
input.mobile-toggle:checked ~ .mobile-toggle-nav span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -4.5px);
  background: #333;
}
@media screen and (max-width: 1280px) {
  .mb-search {
    top: 100%;
    width: 100vw;
    left: -100vw;
    transition: left 0.2s;
  }
  input.mobile-toggle:checked ~ .mb-search {
    left: 0;
  }
  .mb-search .header__search {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-top: solid 1px #dddddd;
  }
  .search-modal__content .jackery-icon-jackery {
    display: none;
  }
  .header__search .index-container {
    height: 48px !important;
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 100%;
  }
  .header__search .index-container input {
    height: 32px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    background: #f0f0f0;
  }
  details[open] > .search-modal {
    border-top: solid 1px #dddddd;
  }
  details[open] > .search-modal .search-modal__content {
    padding: 0;
  }
  details[open] > .search-modal .field {
    border: none;
  }
  .predictive-search {
    transform: translate(0%);
    max-width: 100%;
  }
  .header__icon--summary .jackery-icon-sousuo {
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-info-color);
  }
  .mb-menu {
    top: calc(10.6vw + 49px);
  }
  .announcement-bar-show .mb-menu {
    background: #f5f5f5;
    top: calc(20.6vw + 49px);
    position: fixed;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    overflow-y: scroll;
    transition: left 0.3s;
  }
  input.mobile-toggle:checked ~ .mb-menu {
    left: 0;
  }
  .m-menu-content {
    margin: 0 auto;
    max-width: 90%;
    width: 85vw;
  }
  .m-menu {
    top: calc(10.6vw + 48px);
    position: fixed;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    background: #f5f5f5;
    transition: left 0.3s;
  }
  .announcement-bar-show .m-menu {
    top: calc(20.6vw + 48px);
  }
  input.mobile-toggle:checked ~ .m-menu {
    left: 0;
  }
  .menu-li .m-menu-content:not(.m-header-scence, .collection-more) {
    height: 62px;
  }
  .m-menu-content .m-menu-item-name {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    position: relative;
  }
  .nav-child-item .m-menu-content .m-menu-item-name {
    font-size: 14px;
    padding-left: 12px;
    line-height: 20px;
  }
  .m-menu-content > .jackery-icon-arrow-right {
    transform: rotate(0deg);
    transition: all 0.3s;
    font-size: 20px;
  }
  .m-menu-content .m-menu-item-name::after {
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -2px;
    background: #FD5000;
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: 0 50%;
  }
  .menu-li.active .m-menu-content:not(.nav-child-content) .m-menu-item-name::after {
    transform: scale(1);
  }
  .nav > .menu-li {
    border-bottom: solid 1px #ddd;
  }
  .m-menu-content:not(.nav-child-content) > .jackery-icon-arrow-right {
    transform: rotate(90deg);
    transition: all 0.3s;
    font-size: 20px;
  }
  .menu-li.active > .jackery-icon-arrow-right,
  .menu-li.active > .m-menu-content > .jackery-icon-arrow-right {
    transform: rotate(270deg);
  }
  .menu-li .index-container {
    justify-content: space-between;
  }
  .nav-child-item {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .menu-li.active .nav-child-item {
    max-height: 2000px;
  }
  .mobile-nav-product .nav-item img {
    width: 62px;
    margin-right: 4px;
  }
  .nav-collection-header {
    height: 62px;
  }
  .nav-collection-header .jackery-icon-arrow-right {
    font-size: 20px;
    transform: rotate(90deg);
    transition: all 0.3s;
  }
  .nav-collection-header .collection-name {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    line-height: 25px;
  }
  .nav-item .mb-menu-product-main {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .nav-item.active .jackery-icon-arrow-right {
    transform: rotate(270deg);
  }
  .nav-item.active .mb-menu-product-main {
    max-height: 2000px;
  }
  .mb-menu-product-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 42px !important;
    scroll-snap-type: x mandatory;
    transition: transform 0.3s ease;
    will-change: transform;
    scrollbar-width: none;
    overflow: hidden;
    margin-bottom: 6px;
  }
  .mb-menu-product-list::-webkit-scrollbar {
    height: 0;
    max-height: 0;
  }
  .mb-menu-product-line {
    width: 150px;
    height: 130px!important;
    background: #fff;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-margin-left: 32px;
    flex-shrink: 0;
  }
  .mb-menu-product-line img {
    height: 68px;
    width: auto !important;
    margin-bottom: 4px;
  }
  .mb-menu-product-line span {
    padding: 0 18px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    line-height: 14px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
  .nav-item.active .mb-menu-product-list {
    overflow-x: scroll;
  }
  .mb-menu-product-main .a-button-fill {
    width: max-content;
    padding: 9px 20px 6px 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .mb-menu-product-main .a-button-fill .iconfont {
    transform: rotate(0);
    line-height: 14px;
  }
  .m-header-scence {
    flex-wrap: wrap;
  }
  .m-header-scence-item {
    height: 99px;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(50% - 4px);
    margin-bottom: 12px;
    background-position: center;
  }
  .m-header-scence-item:nth-child(2n + 3) {
    margin-left: 8px;
  }
  .m-header-scence-item span {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
  }
  .m-header-scence-item:first-child {
    width: 100%;
  }
  .m-header-scence-item:first-child span {
    font-size: 18px;
  }
  .m-header-scence {
    padding: 10px 0 0 0;
  }
}

