.slide-swiper, .collection-swiper  {
    width: 100%;
    height: 46.35417vw;
}

.collection-swiper .swiper-container-fade .swiper-slide {
    pointer-events: auto!important;
}
.collection-swiper {
    margin-top: 4.16667vw;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-swiper {
    height: 44.11458vw;
    margin-top: 4.16667vw;
}

.scene-container {
    display: flex;
    height: 46.82292vw;
}
.scene-swiper .swiper-container .slideshow  {
    overflow-y: hidden;
}

.scene-container .thumb-container {
    width: 22.13542vw;
    background-color: #EEEAE2;
    border-radius: 4.16667vw 0 0 0;
    padding: 2.5vw 0 1.25vw 0;
}

.scene-container .thumbsSlider-slideshow {
    flex: 1;
}

.video-swiper .swiper-slide {
    width: 68.07292vw;
}

.video-swiper .swiper-slide-active {
    border-bottom: solid 8px var(--primary-color);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
}

.slider-title {
    color: var(--text-black);
    text-align: center;
    margin: 6.25vw 0 2.60417vw 0;
}

.slide-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-color: #ededed;
    object-fit: cover;
}

.video-swiper .swiper-slide .slide-image {
    background-size: cover;
}

.slide-content {
    z-index: 99;
    max-width: 33.85417vw;
    text-align: right;
    opacity: 0;
}
.slide-swiper .slide-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.slide-swiper .slide-link {
    width: max-content;
}
.banner-icon {
    height: 5.88542vw;
}
.banner-brand-left {
    width: 3.64583vw;
}
.banner-brand-right {
    width: 5vw;
}

.slide-swiper .index-container, .collection-swiper .index-container {
    left: 50%;
    transform: translateX(-50%);
    top: 7.8125vw;
    bottom: 2.60417vw;
}
.collection-swiper .index-container {
    top: 3.02083vw;
    bottom: 1.5625vw;
}

.product-swiper .swiper-container {
    position: relative;
    width: 52.5vw;
    margin: 0 auto;
    height: 36.77083vw;
    margin-bottom: 10vw;
}
.product-swiper .product-swiper-title {
    color: var(--text-black);
    padding: 6.25vw 0 2.60417vw 0;
    text-align: center;
}


.product-swiper .slide-content {
    opacity: 0.4!important;
}
.product-swiper .swiper-slide-prev {
  transform-origin: right center;
}
.product-swiper .swiper-slide-next {
  transform-origin: left center;
}
.product-swiper .swiper-slide-active .slide-content {
    opacity: 1!important;
}
.swiper-slide-active .slide-content-img {
    opacity: 1!important;
}

.product-swiper .swiper-slide {
    transform: scale(0.88);
    transition: all .3s ease;
    box-shadow: 0px 2px 20px 12px rgba(98,98,98,0.07);
}

.product-swiper .swiper-slide-active,
.product-swiper .swiper-slide-duplicate-active {
    transform: scale(1);
    box-shadow: 0px 2px 20px 12px rgba(98,98,98,0.1);
}

.product-swiper .swiper-wrapper .slide, .product-swiper .swiper-container {
    overflow: visible;
}
.product-swiper .swiper-wrapper .slide {
    margin-bottom: 10vw;
}

.swiper-slide-active {
    z-index: 9;
}

.product-swiper .slide-content {
    top: 3.125vw;
    width: 31.25vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.22917vw;
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-swiper .slide-product-name {
    margin-bottom: 1.875vw;
    color: #6D6B6A;
    text-align: center;
}
.product-swiper .slide-product-compare {
    position: absolute;
    bottom: -6.8vw;
    font-size: 1.35417vw;
    font-weight: 300;
    color: #333333;
    line-height: 2.03125vw;
    cursor: pointer;
}
.product-swiper .slide-product-price {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.625vw;
}
.product-swiper .slide-product-price-sale {
    margin-right: 1.82292vw;
}

.product-swiper .slide-product-prices {
    display: flex;
    height: 2.08333vw;
    line-height: 2.08333vw;
}
.product-swiper .slide-product-price-name {
    color: var(--primary-color);
}   
.product-swiper .slide-product-price-sale,
.product-swiper .slide-product-price-origin {
    color: #666666;
}
.product-swiper .slide-product-price-origin {
    text-decoration: line-through;
}
.product-swiper .slide-product-price-sale {
    color: var(--primary-color);
}

.product-swiper .slide-product-img {
    /* width: 600px; */
    height: 16.66667vw;
}

.product-swiper .slide-product-button {
    padding: 0.41667vw 1.82292vw;
}

.product-swiper .product-swiper-bg {
    display: none;
    position: absolute;
}

.product-swiper .slideshow-pagination {
    bottom: -5.2vw;
}


.video-swiper .slide-content {
    right: 0;
    left: 0;
    top: 5.1vw;
    max-width: 100%;
    text-align: center;
    
}

.swiper-container .slide-content-img {
    right: 50%;
    transform: translateX(50%);
    top: unset;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-container .slide-content-img img {
    width: 548px;
    margin-bottom: 46px;
}

.swiper-container .slide-info {
    z-index: 99;
    bottom: 1.2vw;
    justify-content: space-between;
}
.scene-swiper .swiper-container .slide-info {
    bottom: unset;
    top: 3.02083vw;
    left: 5.83333vw;
}

.swiper-container .slide-info .slid-collection-title {
    color: var(--text-black);
}

.swiper-container .slide-info .slid-collection-link {
    color: var(--text-black);
    text-align: left;
    cursor: pointer;
}

.slide-title {
    display: block;
    white-space: normal;
    word-break: break-word;
    color: var(--text-black);
    z-index: 99;
    padding-bottom: 1.30208vw;
}

.video-swiper .slide-title {
    height: 66px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.slide-link .iconfont {
    font-size: 20px;
}

.video-swiper .slide-link, .video-swiper .slide-link .iconfont {
    color: #FFFFFF;
}

.slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
}

.slideshow {
    position: relative;
}

.slideshow-pagination {
    position: absolute;
    bottom: 52px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .3s opacity;
    z-index: 10;
}
.video-swiper .slideshow-pagination-item.active .pagination-separator,
.product-swiper .slideshow-pagination-item.active .pagination-separator, 
.user-voice .slideshow-pagination-item.active .pagination-separator {
    background: var(--primary-color);
}
.thumb-container .slideshow-pagination {
    position: relative;
    bottom: unset;
    left: unset;
}

.thumb-container .slideshow-thumbnail-container .slideshow-thumbnail {
    width: 11.45833vw;
    height: 9.53125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6.77083vw;
    margin-bottom: 1.25vw !important;
}

.thumb-container .slideshow-thumbnail-container .slideshow-thumbnail  {
    background: transparent!important;
}
.thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-img {
    width: 100%;
    height: 18.66667vw;
    border: solid 2px transparent;
}
.thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-name {
    width: 100%;
    text-align: left;
}
.thumb-container .slideshow-thumbnail-container .swiper-slide-thumb-active {
    border-color: transparent;
}
.thumb-container .slideshow-thumbnail-container .swiper-slide-thumb-active .slideshow-thumbnail-img {
    border: solid 2px var(--primary-color);
}

.thumb-container .swiper-slide  {
    position: relative;
}
/* 缩略图 */
.swiper-container .slideshow-thumbnail-container {
    right: 6.77083vw;
    left: unset;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    width: 20.83333vw;
    height: 40vw;
}

.slideshow-thumbnail-container .slideshow-thumbnail {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E9EDF0;
    margin-bottom: 1.04167vw;
    height: 12.8125vw;
    /* height: auto; */
    width: 100%;
    cursor: pointer;
    border: solid 3px transparent;
}

.scene-container .slideshow-thumbnail-container .slideshow-thumbnail {
    border: solid 2px transparent;
}

.swiper-wrapper .slideshow-thumbnail {
    pointer-events: auto!important;
}

.slideshow-thumbnail-container .slideshow-thumbnail-active,
.slideshow-thumbnail-container .swiper-slide-thumb-active {
    border: solid 3px var(--primary-color);
}

.slideshow-thumbnail-container .slideshow-thumbnail:last-child {
    margin-bottom: 0;
}

.slideshow-thumbnail-container .slideshow-thumbnail-img {
    height: 8.02083vw;
    width: 15.46875vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.52083vw;
}

.slideshow-thumbnail-container .slideshow-thumbnail-name {
    color: var(--text-black);
}

.product-swiper .slideshow-navigation-button.prev {
    left: -17vw;
}
.product-swiper .slideshow-navigation-button.next {
    right: -17vw;
}
.pagination-number {
    font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
}

.user-voice {
    display: flex;
    height: 48.80208vw;
    max-height: 100vh;
}
.user-voice .voice-banner {
    width: 50%;
    position: relative;
    height: 100%;
}

.user-voice .voice-text {
    width: 50%;
    background: #F0F0F0;
    height: 100%;
    position: relative;
}
.user-voice .voice-banner .slide, .user-voice .voice-banner .swiper-container {
    overflow: unset;
    background: #F0F0F0;
}

.user-voice .voice-text .vocie-thumbnail-container {
    position: absolute;
    left: -10.72917vw;
    right: 0;
    top: 11.5625vw;
    z-index: 99;
    border-radius: 4.6875vw 0px 0px 0px;
    overflow: hidden;
}

.user-voice .voice-text .slideshow-pagination {
    position: relative;
    /* height: 100%; */
    left: unset;
    bottom: unset;
    width: 23.85417vw;
    overflow-x: visible;
    flex-wrap: nowrap;
}

.user-voice .voice-text .slideshow-thumbnail-container .slideshow-thumbnail {
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FBFBFB!important;
    margin-bottom: 0;
    height: 100%;
    width: 23.85417vw;
    cursor: pointer;
    color: #FFFFFF;
    border: solid 3px transparent;
    margin-right: 1.35417vw;
    padding: 2.1875vw 2.34375vw;
}

.user-voice .voice-text .slideshow-thumbnail-container .swiper-slide-active {
    background-color: #FD5000!important;
    border-radius: 4.6875vw 0px 0px 0px;
}

.voice-content {
    width: 100%;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.user-voice .voice-text .voice-user-rate {
    height: 1.71875vw;
    margin-bottom: 4px;
}

.user-voice .voice-text .voice-user-title {
    margin-bottom: 0.625vw;
    color: var(--text-main-color);
}

.user-voice .voice-text .voice-user-comment {
    margin-bottom: 1.4vw;
    height: 5.8vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: all .3s;
    color: var(--text-main-color);
}

.user-voice .swiper-slide-active .voice-user-title,
.user-voice .swiper-slide-active .voice-user-comment {
    color: #fff;
}

.voice-user-comment-all {
    text-align: center;
    transform: rotate(90deg);
    color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}

.user-voice .swiper-slide-active .voice-user-comment-all {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.user-voice .swiper-slide-active .voice-user-comment-active {
    transform: rotate(270deg);
}

.user-voice .swiper-slide-active .comment-active {
    height: max-content!important;
    -webkit-line-clamp: 999!important;
}

.voice-user-container {
    display: flex;
    align-items: center;
    margin-top: 0.8vw;
}

.voice-user-avator {
    position: relative;
    margin-right: 0.67708vw;
}

.voice-user-avator img {
    height: 4.01042vw;
}

.voice-user-name {
    color: var(--text-black);
}

.user-voice .swiper-slide-active .voice-user-name {
    color: #FFFFFF;
}

.voice-user-approve {
    height: 1.19792vw !important;
    position: absolute;
    bottom: 0;
    right: 0;
}

.user-voice .swiper-slide-active .voice-user-approve-unactive {
    z-index: -1;
}

.user-voice-section-title {
    color: #000000;
    padding: 5.52083vw 0 0 3.4375vw;
}

.next-voice-btn {
    position: absolute;
    bottom: -11px;
    left: 44vw;
}

.user-voice .swiper-container .slide-info {
    flex-direction: row;
    top: unset;
    bottom: 14.01042vw;
    left: 27.70833vw;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.user-voice .swiper-container .slide-info img {
    width: 1.82292vw;
    height: 1.82292vw;
    margin-right: 0.78125vw;
}

.user-voice .voice-user-productname {
    color: #000000;
    max-width: 8.125vw;
    text-align: left;
}

.user-voice .slideshow-pagination-zzz {
    display: none;
}
.user-voice .voice-text .slideshow-pagination-voice {
    left: 9.5vw;
    bottom: 40px;
}
.user-voice .vocie-thumbnail-container .swiper-thumbs {
    padding-bottom: 110px;
}
.index-section-support {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support-section-title {
    text-align: center;
    color: #333333;
    margin-bottom: 0.78125vw;
    padding: 6.25vw 0 0.78125vw 0;
}
.support-more {
    color: var(--primary-color);
}
.support-accordion {
    margin: 2.60417vw 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.accordion-arrow {
    display: none;
}
.support-accordion .col-container {
    height: 15.83333vw;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #E8E8E8;
    margin-right: 1.04167vw;
    width: 12.03125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.75vw 0.83333vw 1.5625vw 0.83333vw;
}
.support-accordion .col-container:last-child {
    margin-right: 0;
}
.support-accordion .col-container p {
    text-align: center;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    font-weight: 400;
    color: #010101;
}
.support-accordion .col-container img {
    height: 5.20833vw;
    margin-bottom: 1.82292vw;
}
.support-accordion .support-content {
    display: none;
    margin-top: 0.78125vw;
    color: #212121;
    line-height: 1.51042vw;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4;
}
@media screen and (max-width: 768px) {
    .slide-swiper, .collection-swiper  {
        width: 100vw;
        overflow-x: hidden;
        height: 160vw;
    }
    .collection-swiper {
        margin-top: 8.53333vw;
        height: 178.66667vw;
    }
    .thumbsSlider-slideshow {
        height: 178.66667vw;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .video-swiper {
        height: 132.93333vw;
        margin-top: 8.66667vw;
    }

    .slide {
        font-size: 18px;
    }

    .slide-swiper .index-container {
        top: 5vw;
        bottom: 9.7vw;
    }

    .product-swiper .swiper-wrapper .slide, .product-swiper .swiper-container {
        overflow: visible;
        width: 92.8vw;
        height: 121.73333vw;
    }

    .slide-image {
        background-size: cover;
    }
    .next-voice-btn {
        display: none;
    }

    .slide-content {
        right: 0;
        max-width: 75vw;
        top: 24vw;
    }
    .banner-icon {
        height: 10.4vw;
        left: 8vw;
        bottom: 17.86667vw;
    }
    .banner-brand-left {
        width: 11.86667vw;
    }
    .banner-brand-right {
        width: 15.86667vw;
    }

    .video-swiper .slide-content {
        top: 11.33333vw;
    }

    .slide-title {
        padding-bottom: 5.33333vw;
    }
    .collection-swiper .swiper-container .slide-info {
        align-items: end;
    }

    .video-swiper .swiper-slide-active {
        border-bottom: solid 4px var(--primary-color);
    }
    .video-swiper .slide-title {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 3vw;
        padding-left: 8.53333vw;
        padding-right: 8.53333vw;
    }
    .video-swiper-play {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
    }
    .video-swiper-play .iconfont {
        font-size: 16vw;
    }

    .slideshow {
        position: relative;
    }

    .slideshow-pagination {
        bottom: 9.73333vw;
    }
    .scene-swiper .swiper-container .slide-info {
        top: 6.67vw;
        left: 8vw;
    }
    .slideshow-navigation-button {
        display: none;
    }
    /* 缩略图 */
    .swiper-container .slideshow-thumbnail-container {
        right: unset;
        left: 22vw;
        bottom: 11.06667vw;
        top: unset;
        transform: translateY(0);
        width: 53.33333vw;
        height: 38.66667vw;
    }

    .slideshow-thumbnail-container .slideshow-thumbnail {
        margin-bottom: 0;
        height: 100%;
        width: 53.33333vw;
        border: solid 2px #E9EDF0;
    }

    .slideshow-thumbnail-container .slideshow-thumbnail-active,
    .slideshow-thumbnail-container .swiper-slide-thumb-active {
        border: solid 2px var(--primary-color);
    }

    .slideshow-thumbnail-container .slideshow-thumbnail-img {
        height: 24vw;
        width: 37.33333vw;
        margin-bottom: 1.06667vw;
    }

    .swiper-container .slide-content-img {
        top: 24.4vw;
        bottom: unset;
        flex-direction: column-reverse;
        max-width: 100%;
        width: 100vw;
    }
    
    .swiper-container .slide-content-img img {
        width: 84vw;
        margin-bottom: 0;
        margin-top: 30vw;
    }

    .swiper-container .slide-info {
        left: 8.8vw;
        right: 8.8vw;
        top: 11.33333vw;
        bottom: 55.46667vw;
    }

    .swiper-container .slide-info .slid-collection-link {
        text-align: right;
    }

    .scene-container {
        flex-direction: column;
        height: 156.8vw;
    }
    
    .scene-container .thumb-container {
        width: 100vw;
        background-color: #FAFAFA;
        border-radius: 0;
        padding: 6.66667vw 0 1.86667vw 0;
    }
    
    .scene-container .thumbsSlider-slideshow {
        flex: 1;
    }

    .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-img {
        display: none;
    }
    .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail {
        height: 7.2vw;
        width: 50vw;
        margin-left: 0;
        margin-bottom: 3.46667vw!important;
        margin-right: 0!important;
        border: none;
    }
    .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-name {
        padding-left: 8vw;
        position: relative;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
    .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-name:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 8vw;
        width: calc(100% - 16vw);
        border-bottom: 2px solid var(--primary-color);
        transform: scale(0);
        transform-origin: 0 50%;
        transition: transform 0.5s ease;
    }
    .thumb-container .slideshow-thumbnail-container .swiper-slide-thumb-active .slideshow-thumbnail-name:after {
        transform: scale(1);
    }
    .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-name {
        width: 100%;
        text-align: left;
    }
    .scene-swiper .thumb-container .slideshow-thumbnail-container .slideshow-thumbnail-name {
        width: max-content;
    }
    .scene-swiper .slideshow-thumbnail-container .slideshow-thumbnail-name:after {
        right: 0;
        width: auto;
    }
    .thumb-container .slideshow-thumbnail-container .swiper-wrapper {
        flex-wrap: wrap;
        transform: translate3d(0px, 0px, 0px)!important;
    }
    .thumbsSlider-slideshow .swiper-container .slid-collection-title {
        text-align: left;
    }
    .collection-swiper .thumbsSlider-slideshow .swiper-container .slid-collection-title {
        text-align: center;
        width: 100%;
    }
    .slider-title {
        color: #333333;
        padding: 0 12vw;
        margin: 14.66667vw 0 8.66667vw;
    }

    .product-swiper {
        padding: 0 3.8vw;
        background: #F7F7F7;
        position: relative;
        margin-bottom: 23vw;
    }

    .product-swiper .swiper-slide {
        padding: 0;
    }
    .product-swiper .swiper-slide-active,
    .product-swiper .swiper-slide-duplicate-active {
        transform: scale(1);
    }
    .product-swiper .slide-content {
        top: 11.6vw;
        width: 72vw;
        bottom: 22.13333vw;
    }
    .product-swiper .slide-product-name {
        margin-bottom: 4vw;
        color: #333;
        text-align: center;
    }
    .product-swiper .slide-product-compare {
        bottom: -14vw;
        right: 0;
        font-size: 4.5vw;
        color: var(--text-black);
        line-height: 4.5vw;
    }
    .product-swiper .slide-product-price {
        margin-top: 1.06667vw;
    }
    .product-swiper .slide-product-price-sale {
        margin-right: 4.66667vw;
    }
    
    .product-swiper .slide-product-prices {
        height: 5.33333vw;
        line-height: 5.33333vw;
    } 

    .product-swiper .slide-product-img {
        height: 42.66667vw;
    }
    
    .product-swiper .slide-product-button {
        padding: 2vw 11.06667vw;
        margin-bottom: 8vw;
    }

    .product-swiper .slideshow-pagination {
        bottom: -8.6vw;
        display: flex;
    }
    .product-swiper .slideshow-navigation-button {
        display: none;
    }
    .product-swiper .product-swiper-bg {
        background: #FFFFFF;
        right: 0;
        left: 0;
        height: 5vw;
        bottom: 0;
        display: block;
    }

    .product-swiper .product-swiper-title {
        height: auto;
        padding: 14vw 0 8.66667vw 0;
    }

    .user-voice {
        flex-direction: column;
        height: auto;
        max-height: unset;
        width: 100vw;
        position: relative;
        margin-bottom: 22.9vw;
    }
    .user-voice .voice-banner {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 97.73333vw;
    }
    .user-voice-section-title {
        display: none;
    }
    .user-voice .voice-text {
        width: 100%;
        background: transparent;
        height: auto;
        margin-top: 78vw;
    }
    .user-voice .voice-banner .swiper-container {
        height: 97.73333vw!important;
    }
    .user-voice .voice-banner .slide, .user-voice .voice-banner .swiper-container {
        overflow: unset;
        background: #F0F0F0;
    }
    .user-voice .voice-text .vocie-thumbnail-container {
        position: relative;
        left: unset;
        right: unset;
        top: unset;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 8.6vw;
    }
    .user-voice .voice-text .slideshow-pagination-voice {
        bottom: -8.5vw;
        left: unset;
    }
    .user-voice .slideshow-pagination-item.active .pagination-separator {
        background: var(--primary-color);
    }
    .user-voice .voice-text .slideshow-thumbnail-container .slideshow-thumbnail {
        background: #FFFFFF;
        width: 80.93333vw;
        color: #FFFFFF;
        border: solid 1px transparent;
        margin-right: 0;
        padding: 6.13333vw 4.26667vw;
    }
    .user-voice .voice-text .slideshow-thumbnail-container .swiper-slide-active {
        z-index: 99;
        opacity: 1!important;
        background: var(--primary-color);
        border-radius: none;
    }
    .user-voice .voice-text .slideshow-pagination {
        width: 80.93333vw;
        overflow: hidden;
        border-radius: 12vw 0 0 0;
    }
    .user-voice .voice-text .voice-user-rate {
        height: 4.4vw;
        margin-bottom: 0;
    }
    .user-voice .voice-text .voice-user-title  {
        margin-bottom: 2.66667vw;
    }
    .user-voice .voice-text .voice-user-comment  {
        margin-bottom: 3.2vw;
        height: auto;
        word-break: normal;
        -webkit-line-clamp: 3;
    }
    .voice-user-container {
        margin-top: 2.8vw;
    }
    .voice-user-avator {
        margin-right: 1.73333vw;
    }
    .voice-user-avator img {
        height: 10.26667vw;
    }
    .voice-user-approve {
        height: 3.06667vw!important;
    }
    .user-voice .slideshow-pagination-zzz {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -8.6vw;
        width: 100%;
    }

    .user-voice .swiper-container .slide-info {
        bottom: 37.33333vw;
        left: 63.33333vw;
    }
    .user-voice .swiper-container .slide-info img {
        width: 4.66667vw;
        height: 4.66667vw;
        margin-right: 1.73333vw;
    }
    .scene-swiper .slide-info {
        text-align: left;
    }
    .user-voice .voice-user-productname {
        max-width: 22.4vw;
    }

    .index-section-support {
        height: 173.33333vw;
        overflow-y: visible;
    }
    .support-section-title {
        color: #000;
        margin-bottom: 0;
        padding: 0 0 2.66667vw 0;
    }
    .support-accordion {
        flex-direction: column;
        margin: 8vw 0;
        width: 100%;
    }
    .support-accordion .col-container {
        height: 24vw;
        margin-right: 0;
        margin-bottom: 3.2vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 5.33333vw;
    }
    .support-accordion .col-container:last-child {
        margin-right: 0;
    }
    .support-accordion .col-container p {
        text-align: left;
        overflow: hidden;
        word-break: normal; 
        color: #000;
        height: 13.33333vw;
        display: table-cell;
        vertical-align: middle;
        width: 50vw;
    }
    .support-accordion .col-container p span {
        line-height: 5.6vw;
    }
    .support-accordion .col-container .jackery-icon-arrow-right {
        display: block;
        font-size: 3.73333vw;
        line-height: 13.33333vw;
        transform: rotate(90deg);
    }
    .support-accordion .col-container img {
        height: 13.33333vw;
        margin-bottom: 2.66667vw;
        margin-right: 2.66667vw;
    }
    .support-accordion .support-content {
        display: block;
        margin-top: 0;
        -webkit-line-clamp: 999;
        width: 100%;
        height: 'auto';
    }
    .support-accordion .support-content span {
        display: block;
        color: #333;
    }
    .accordion-arrow {
        display: block;
    }
}